* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px 0;
    background-color: #182C61;
    color: #ecf0f1;
}

header h1
section h2 {
    font-weight: normal;
    }

header,
section h2{
    font-family: 'Bungee', cursive;
}

body{
    font-family: 'Roboto', sans-serif;
}

header nav li {
    margin-left: 16px;
    display: inline;
    color: #ecf0f1;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-lists img {
    height: 24px;
}

.brands-lists li {
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #182C61;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 16px;
}